.container{
    width: 2.625rem;
    height: 1.5rem;
    border: 0.094rem solid #3c3ce9;
    border-radius: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.125rem;
    position: relative;
    cursor: pointer;
  }
  
  .icon{
    font-size: 0.75rem;
  }
  
  .ball{
    width: 0.938rem;
    height: 0.938rem;
    background-color: #4D8AF0;
    border-radius: 50%;
    position: absolute;
  }