.container {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.links > a {
  text-decoration: none !important;
}
